$primary-color: #fff
$secondary-color: #8800E3
$tertiary-color: #12B056

$contrast-color-dark: #8800E3
$contrast-color-light: lighten($contrast-color-dark, 25%)
$contrast-color-highlight: lighten($contrast-color-dark, 60%)
$contrast-color-lightest: lighten($contrast-color-dark, 75%)
$contrast-color-darker: darken($contrast-color-dark, 25%)

$tertiary-color-light: lighten($tertiary-color, 50%)

$font-color-main: black
$font-color-on-element: white
$font-color-link: $tertiary-color
$font-color-highlight: $contrast-color-light
$font-color-visited-link: darken($secondary-color, 25%)
