<article data-ng-controller="locationsController">
  <form class="form__base">
    <h1>Comment on the Bathroom at {{location}}</h1>
    <label >This bathroom makes me feel: </label>
    <select class="form__p--select" name="select">
      <option value="comfortable" selected>Comfortable</option>
      <option value="uncomfortable">Uncomfortable</option>
      <option value="neutral">Neutral</option>
    </select>
    <p class="form__p--radio">
      <label >Bathroom Type: </label>
      <div class="clearboth">
        <input type="radio" align="center" name="bathType" id="sharedPub" value="sharedPublic" checked="checked" />
        <label for="sharedPub">Shared Public</label>
        <input type="radio" align="center" name="bathType" id="singleStalls" value="singleStalls" />
        <label for="singleStalls">Single Stalls</label>
      </div>
      <div class="clearboth"></div>
    </p>
    <p class="form__p--radio">
      <label >M/F Marked Separately? </label>
      <div class="clearboth">
      <input type="radio" align="center" name="genderMarked" id = "genderMarkedYes" value="true" checked="checked" />
      <label for="genderMarkedYes">Yes</label>
      <input type="radio" align="center" name="genderMarked" id = "genderMarkedNo" value="false" />
      <label for="genderMarkedNo">No</label>
    </div>
    <div class="clearboth"></div>
    </p>
    <p class="form__p--radio">
      <label >Door Height in Stalls </label>
      <div class="clearboth">
      <input type="radio" align="center" name="doorHeight" id="doorHeightFull" value="Full" checked="checked" />
      <label for="doorHeightFull">Full</label>
      <input type="radio" align="center" name="doorHeight" id="doorHeightNotFull" value="Not Full" />
      <label for="doorHeightNotFull">Not Full</label>
      <input type="radio" align="center" name="doorHeight" id="doorHeightNA" value="N/A" />
      <label for="doorHeightNA">N/A</label>
    </div>
    <div class="clearboth"></div>
    </p>
    <label for="commentCardNotes">Notes</label>
    <textarea id="commentCardNotes" placeholder="Anything else you want to tell us about this restroom?"></textarea>
    <button class="btn-type-2" id="clearfix comment-card-submit" type="submit">Submit</button>
  </form>
</article>
