<section data-ng-controller="locationsController" data-ng-init="getCardsForLoc(params.id)">
  <h2>Comments  for {{params}}</h2>
  <ul>
    <li>
      <section class="comment form__base">
      <h3>{{date comment left}}</h3>
      <p class="comment__text">
        <!-- start slipsum code -->
          The path of the righteous man is beset on all sides by the iniquities of the selfish and the
          tyranny of evil men. Blessed is he who, in the name of charity and good will,
          shepherds the weak through the valley of darkness, for he is truly his brother's
          keeper and the finder of lost children. And I will strike down upon thee with
          great vengeance and furious anger those who would attempt to poison and destroy
          My brothers. And you will know My name is the Lord when I lay My vengeance upon thee.
        <!-- please do not remove this line -->
        <div style="display:none;">
        <a href="http://slipsum.com">lorem ipsum</a></div>
        <!-- end slipsum code -->
      </p>
    </section>
    </li>
    <li>
      <section class="form__base">
      <h3>{{date comment left}}</h3>
      <p class="comment__text">
        <!-- start slipsum code -->
        Normally, both your asses would be dead as fucking fried chicken, but you
        happen to pull this shit while I'm in a transitional period so I don't wanna
        kill you, I wanna help you. But I can't give you this case, it don't belong
        to me. Besides, I've already been through too much shit this morning over
        this case to hand it over to your dumb ass.
        <!-- please do not remove this line -->
        <div style="display:none;">
        <a href="http://slipsum.com">lorem ipsum</a></div>
        <!-- end slipsum code -->
      </p>
    </section>
    </li>
  </ul>
</section>
